.main{
    height: 800px;
    width: 100%;
    background-color: antiquewhite;
    margin: 0 ;
  }
  .r1{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: blueviolet;
    font-size: 40px;
  }
  #r1c1{
    text-align: center;   
    width: 90%;
  }
  #r1c2{
    width: 10%;  
  }
  .r2{
    text-align: center;
    font-size: 30px;
    height: 200px;
  }
  #n1{
    height: 30px;
    font-size: 20px;
  }
  #bt1{
    background-color: rgb(236, 6, 6);
    font-size: 30px;
    align-items: center;
  }
  #bt2{
    background-color: rgb(70, 17, 119);
    font-size: 30px;
    align-items: center;
  }
  #bt3{
    background-color: rgb(41, 36, 36);
    font-size: 30px;
    align-items: center;
  }
  #bt4{
    background-color: rgb(73, 206, 12);
    font-size: 30px;
    align-items: center;
  }
  .r3{
    height: 100PX;
    text-align: center;
    font-size: 30px;
  }

  .footer{
    display: flex;
    background-color: brown;
    height: 50px;
  }
  #f1{
 width: 50%;
 padding-top: 15px;
  }
  #f2{
    background-color: aqua;
    text-align: end;
    width: 50%;
  }